#Model
p2_save_status
p2_save_status_title
p2_save_status_body

#Model
p2_host_seeting
p2_host_seeting_title
p2_host_seeting_body

#Model
p2_custome_setting
p2_custome_setting_title
p2_custome_setting_body

========================
Page 2 Form

p2_save_all
p2_save_reset
p2_custome_setting_exe

p2_new_host_row

p2_md_aso_file
p2_md_aso_version
p2_md_aso_build

p2_mm_aso_file
p2_mm_aso_version
p2_mm_aso_build

p2_upgrade_name
p2_upgrade_source
p2_upgrade_host
p2_upgrade_path
p2_upgrade_uname
p2_upgrade_password

p2_show_excell_upload
p2_excell_upload
p2_excell_upload_title
p2_excell_upload_body