<!DOCTYPE html>
<html lang="en">
<head>
  <title>Aruba Wireless Upgrade</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" crossorigin="anonymous">
  
  
  
  <link rel="stylesheet" type="text/css" href="static/DataTables/datatables.min.css"/>
 
  <script type="text/javascript" src="static/DataTables/datatables.min.js"></script>


</head>

<body overflow-x: hidden;>


<style>

.body {

  background-color: #ffffff;
}

.row_selected td {
    background-color: black !important; /* Add !important to make sure override datables base styles */
 }

#p2_device_table {
  counter-reset: row;
  /* Set the row counter to 0 */
}

#p2_device_table tr::before {
  counter-increment: row;
  /* Increment the row counter*/
  content: counter(row) ": ";
  /* Display the row */
}

</style>


<nav class="navbar navbar-expand-md navbar-light bg-light border-dark">
    <a href="#" class="navbar-brand">
        <img src="static/title.png" height="28" alt="CoolBrand">
    </a>
    
    <h6 style="margin-top: 6px;"><span class="badge badge-light" style="margin-top: 8px; color: #21252994;">Aruba Wireless Upgrade</span></h6>

    <!--<h6 style="margin-top: 12px;"><span class="badge badge-info" id="total_clients">Total Clients : 5</span></h6>-->
    
     <ul class="navbar-nav">
    <li class="nav-item">
       <button type="button" class="btn btn-outline-primary active" id="upgrade" onclick="upgrade()" >Upgrade</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-outline-secondary" id="new_execution" onclick="new_execution()">Create Execution</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-outline-success" id="history" onclick="show_history()">Execution history</button>
    </li>
    </ul>

    <div class="collapse navbar-collapse" id="navbarCollapse">
       
        <div class="navbar-nav ml-auto">
            <span class="badge badge-danger" id="load-status">Loading...</span>
        </div>
    </div>
</nav>

<br>



<!-- Select upgrade file -  Modal -->
  <div class="modal fade" id="select_upgrade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>



















<div class="container-fluid monitor-col upgrade_class" id="monitor-1">


<div class="row" style="margin-right: 0px"> 

<div class="col-sm-6" id="table_1" style="background-color:#f8f9fa">

<button class="btn btn-light" style="width:90%">
  <span class="spinner-border spinner-border-sm"></span>
  Upgrading Controllers 123456 asdasd asdasdasd
</button>

</div>

<div class="col-sm-6" id="table_1" style="background-color:#f8f9fa">
<button type="button" class="btn btn-warning btn-sm">Pause Upgrade</button>
<button type="button" class="btn btn-danger btn-sm">Stop Upgrade</button>
</div>

</div>

</br>

<!-- Table -->
<div class="row" style="margin-right: 0px">
      
      <div class="col-sm-8" id="table_1">
        <table id="execution_table" class="display compact" cellspacing="0"> 
        <tbody id="execution_body"></tbody>
        </table>
      </div>
      
      <div class="col-sm-4">
      <table id="execution_events_table" class="display compact hover" cellspacing="0"> </table>
      </div>
</div>

</div>





<!-- PAGE-2 Starts , ------------------------Creating New Execution form start hear-->


<div class="container new_execution_class">

<!--<div class="d-flex justify-content-left">
<h5><span class="badge badge-info">Create New Execution</span><h5>
</div>-->

<!-- Upgrade name Row -->

<div class="row" style="margin-right: 0px">  
<div class="col-sm-8">

<form>
  <div class="input-group mb-3 input-group-sm">
     <div class="input-group-prepend">
       <span class="input-group-text">Upgrade Name</span>
    </div>
    <input type="text" class="form-control input-sm" placeholder="Ex: Change CRN20211" id="p2_upgrade_name">

  </div>
</form>

<form>
  <div class="input-group mb-3 input-group-sm">
     <div class="input-group-prepend">
       <span class="input-group-text">AOS Source</span>
    </div>
    <select class="form-control input-sm"  id="p2_upgrade_source">
    <option>Local</option>
    <option>TFTP</option>
    <option>SFTP</option>
    <option>FTP</option>
  </select>
   <input type="text" class="form-control" placeholder="Host" id="p2_upgrade_host">
    <input type="text" class="form-control" placeholder="Path" id="p2_upgrade_path">
     <input type="text" class="form-control" placeholder="Username" id="p2_upgrade_uname">
      <input type="password" class="form-control" placeholder="Password" id="p2_upgrade_password">
  </div>
</form>



</div>
</div>





<!-- MM details -->
<h5>MM/MD AOS Details:</h5>
<div class="row" style="margin-right: 0px">
      
<div class="col-sm-12">

<div class="table-responsive">
<table class="table table-striped table-sm">

<thead>
<tr>

</thead>

<tbody>
<tr>
<td><input type="text" class="form-control input-sm" placeholder="MM AOS Filename" name="mm_aso_file" required="" id="p2_mm_aso_file"></td>
<td><input type="text" class="form-control input-sm" placeholder="Version" name="mm_aso_version" required="" id="p2_mm_aso_version"></td>
<td><input type="text" class="form-control input-sm" placeholder="Build" name="mm_aso_build" required="" id="p2_mm_aso_build"></td>

   
</tr>
</tbody>

</table>
</div>
</div>
</div>


<!-- MD details -->

<div class="row" style="margin-right: 0px">
      
<div class="col-sm-12">

<div class="table-responsive">
<table class="table  table-striped table-sm">

<thead>
<tr id="md_list_table">
</tr>
</thead>

<tbody>
<tr>
<td><input type="text" class="form-control" placeholder="MD AOS Filename" name="md_aso_file" required="" id="p2_md_aso_file"></td>
<td><input type="text" class="form-control" placeholder="Version" name="md_aso_version" required="" id="p2_md_aso_version"></td>
<td><input type="text" class="form-control" placeholder="Build" name="md_aso_build" required="" id="p2_md_aso_build"></td>


</tr>
</tbody>

</table>
</div>
</div>
</div>







<!-- host details -->

<div class="row" style="margin-right: 0px">
      
<div class="col-sm-12">

<div class="table-responsive">
<table class="table table-dark table-striped table-sm" >

<thead>
<tr id="p2_new_host_row">
<th>#</th>
<th>Device</th>
<th>Hostname</th>
<th>Host IP</th>
<th>Custome</th>
<th>Remove/Add </th>
<button type="button" class="btn btn-light btn-sm" id="p2_show_excell_upload" onclick="host_excell_upload()">Upload From Excell</button>
</tr>
</thead>

<tbody >
<tr>
   
</tr>
</tbody>

</table>
</div>
</div>
</div>

<form>
<div class="input-group mb-3 input-group-sm">
   <div class="input-group-prepend">
     <span class="input-group-text">Login Credential: </span>
  </div>
   <input type="text" class="form-control" placeholder="Username" id="p2_hosts_uname">
    <input type="password" class="form-control" placeholder="Password" id="p2_hosts_password">
</div>
</form>

<!-- Save , Modify reset Row -->
<div class="row" style="margin-right: 0px">
      
<div class="col-sm-12">


<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-primary" id="p2_custome_setting_exe" onclick="custome_settings()">Modify Custome Settings</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-warning" id="p2_save_reset">Reset</button>&nbsp;&nbsp;&nbsp;
  <button type="button" class="btn btn-success" id="p2_save_all">Save All</button>
</div>
<br>
<br>
</div>



</div>


<!-- Page 2 Models start -->


<!-- Save  Modal -->
  <div class="modal fade" id="p2_save_status" id="p2_custome_setting">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" >
          <h4 class="modal-title" id="p2_save_status_title">Saving Status</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" id="p2_save_status_body">
           Please wait...
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>


<!-- Modify Custome settings Modal -->
  <div class="modal fade" id="p2_custome_setting">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="p2_save_status_title">Modify Custome settings</h4>
          <h4 class="modal-title" id="p2_custome_setting_title"></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" id="p2_custome_setting_body">

          <div class="table-responsive">
          <table class="table table-dark table-striped table-sm" >

          <thead>
          <tr>
          <th>Settings</th>
          <th>Status</th>
          <th>Note</th>
          </tr>
          </thead>

          <tbody >
          <tr>
            <td><h6><span class="badge badge-dark">Maximum AP image load: </span><h6></td>
            <td><input type="number" value="500" min="0" max="1000" step="10"/></td>
            <td> </td></tr>

            <tr>
            <td><h6><span class="badge badge-dark">Validate controller sync before upgrade: </span><h6></td>
            <td> <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label" for="switch1"></label>
            </div></td>
            <td> </td></tr>

            <tr>
            <td><h6><span class="badge badge-dark">Validate controller up before upgrade: </span><h6></td>
            <td> <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch2" name="example">
            <label class="custom-control-label" for="switch2"></label>
            </div></td>
            <td> </td></tr>

            <td><h6><span class="badge badge-dark">Backup flash before upgrade: </span><h6></td>
            <td><div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch3" name="example">
            <label class="custom-control-label" for="switch3"></label>
            </div> </td>
            <td> </td></tr>

            <tr>
            <td><h6><span class="badge badge-dark">Backup configuration before upgrade: </span><h6></td>
            <td><div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch4" name="example">
            <label class="custom-control-label" for="switch4"></label>
            </div></td>
            <td> </td></tr>

            <tr>
            <td><h6><span class="badge badge-dark">Backup license before upgrade: </span><h6></td>
            <td><div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="switch5" name="example">
            <label class="custom-control-label" for="switch5"></label>
            </div> </td>
            <td> </td></tr>

            <tr>
            <td><h6><span class="badge badge-dark">Pre & Post check commands:</span><h6></td>
            <td><div class="form-group">
            
            <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
            </td>
            <td>

            </td></tr>
          
          </tbody>

          </table>
          </div>
          
          
          
          
          

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>



<!-- Edit host settings -->
  <div class="modal fade" id="p2_host_setting">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="p2_host_setting_title">Modify host settings</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" id="p2_host_setting_body">

        <div class="table-responsive">
        <table class="table table-striped table-sm">
        <thead>
        <tr>
        </thead>
        <tbody>
        <tr>
        <td ><select class="form-control input-sm" id="p2_host_device" data-live-search="true"><option>MM</option><option>MD</option><option>Select Device</option></select></td>
        <td><input type="text" class="form-control input-sm" placeholder="Host name" name="host_name" required="" id="p2_host_hostname"></td>
        <td><input type="text" class="form-control input-sm" placeholder="Host IP" name="host_ip" required="" id="p2_host_hostip"></td>
        </tr>
        </tbody>
        </table>
        </div>

        <div class="table-responsive">
        <table class="table table-striped table-sm">
        <thead>
        <tr>
        </thead>
        <tbody>
        <tr>
        <td><input type="text" class="form-control input-sm" placeholder="AOS Filename" name="p2_host_aso_file" required="" id="p2_host_aso_file"></td>
        <td><input type="text" class="form-control input-sm" placeholder="Version" name="p2_host_aso_version" required="" id="p2_host_aso_version"></td>
        <td><input type="text" class="form-control input-sm" placeholder="Build" name="p2_host_aso_build" required="" id="p2_host_aso_build"></td>
        </tr>
        </tbody>
        </table>
        </div>

        <form>
        <div class="input-group mb-3 input-group-sm">
           <div class="input-group-prepend">
             <span class="input-group-text">Login Credential: </span>
          </div>
           <input type="text" class="form-control" placeholder="Username" id="p2_host_uname">
            <input type="password" class="form-control" placeholder="Password" id="p2_host_password">
        </div>
      </form>

        <form>
        <div class="input-group mb-3 input-group-sm">
           <div class="input-group-prepend">
             <span class="input-group-text">AOS Source</span>
          </div>
          <select class="form-control input-sm" id="p2_host_upgrade_source">
          <option>Local</option>
          <option>TFTP</option>
          <option>SFTP</option>
          <option>FTP</option>
        </select>
         <input type="text" class="form-control" placeholder="Host" id="p2_host_upgrade_host">
          <input type="text" class="form-control" placeholder="Path" id="p2_host_upgrade_path">
           <input type="text" class="form-control" placeholder="Username" id="p2_host_upgrade_uname">
            <input type="password" class="form-control" placeholder="Password" id="p2_host_upgrade_password">
        </div>
      </form>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>


<!-- upload Excell host settings -->
  <div class="modal fade" id="p2_excell_upload">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" id="p2_excell_upload_title">Import hosts from Excel</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" id="p2_excell_upload_body">

          <div class="d-flex flex-row ">
          <div class="p-2"><h5><span class="badge badge-light">Download Excel template: </span><h5>
          </div>
          <div class="p-2"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-download" aria-hidden="true"></i></button></div>
          </div>

          <div class="d-flex flex-row ">
          <div class="p-2"><h5><span class="badge badge-light">Upload host's from excel:</span><h4></h5></div>
          <div class="p-2">
            
            <input type="file" id="myFile" name="filename2">
            <div class="mt-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            </div>

          </div>
          </div>


        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <span class="badge badge-danger">Import failed</span>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>



<!-- Page-2 End End of New Execution form -->


<!-- Pagge-3 Start : History -->

<div class="container-fluid monitor-col report_class">

<p> OK </p>
<div class="row" style="margin-right: 0px"> 

<div class="col-sm-6" style="background-color:#f8f9fa">

<table id="history_table" class="display compact hover" cellspacing="0"> </table>

</div></div></div>




<!-- Page-3 End : History -->




<script>


//////////////// PAGE -1 START ////////////////////////////////////////////// 

// Init the page-2
var dev_id = 0;
new_execution();
$(".report_class").show()
$(".upgrade_class").hide()
$(".new_execution").hide()

var dataSet = [
    [ 2,"Tiger Nixon", "System Architect", "Edinburgh", "5421", "Pending" ],
    [ 1,"Garrett Winters", "Accountant", "Tokyo", "8422", "Completed"],
    [ 3,"Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "Running"],
    [ 5,"Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "Completed"],
    [ 4,"Airi Satou", "Accountant", "Tokyo", "5407", "Completed"],
    [ 6,"Brielle Williamson", "Integration Specialist", "New York", "4804", "Completed"],
    [ 7,"Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "Pending"],
    [ 8,"Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "Completed"],
    [ 9,"Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "Paused" ],
    [ 10,"Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "Pending" ],
    [ 12,"Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "Paused" ],
    [ 11,"Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "Failed"]
    
];



// Adding action on creating new row in exection_table
function new_row_action( row, data, dataIndex){
try{

if( data[5] ==  "Running"){
$(row).children('td').slice(5, 6).addClass('bg-primary text-white');
}

if( data[5] ==  "Completed"){
$(row).children('td').slice(5, 6).addClass('bg-success text-white');
}

if( data[5] ==  "Pending"){
$(row).children('td').slice(5, 6).addClass('bg-secondary text-white');
}

if( data[5] ==  "Paused"){
$(row).children('td').slice(5, 6).addClass('bg-warning text-white');
}

if( data[5] ==  "Failed"){
//$(row).addClass('bg-danger text-white');
}

}catch(e){console.log(e);}
}




$(document).ready(function() {
    $('#execution_table').DataTable( {
        "responsive": true,
        "select": true,
        "data": dataSet,
        "columns": [
            { title: "SNo"},
            { title: "Type" },
            { title: "Host" },
            { title: "Version" },
            { title: "Status" },
            { title: "Action" }
        ],
        "columnDefs": [{ "width": "1%", "targets": 0 }
        ],
        "scrollY":        "300px",
        "scrollCollapse": true,
        "paging":         false,
        "createdRow" : new_row_action



} );
});


event_data = [["SSSSSS"]]

$(document).ready(function() {
    $('#execution_events_table').DataTable( {
        data: event_data,
        columns: [
            { title: "Events" }
        ],
        "scrollY":        "400px",
        "scrollCollapse": true,
        "paging":         false,
        "order": [[ 0, "desc" ]]
      
      });

} );

//Set error in badge-danger
function server_live_error(xhr, ajaxOptions, thrownError){

$("#load-status").attr('class', 'badge badge-danger');
$("#load-status").text("Server Connection Error");
$("#load-status").fadeOut("fast").fadeIn("fast");


}


//Set Live
function server_live(xhr, ajaxOptions, thrownError){

$("#load-status").attr('class', 'badge badge-success');
$("#load-status").text("Online");
$("#load-status").fadeOut("fast").fadeIn("fast");

}

// Get the server live status
function get_server_status(){

try{

console.log("Getting server Live status")

$.ajax({
    type: 'GET',url: '/portal/status',contentType: false,cache: false,processData:false,
    success: server_live,error: server_live_error})

}catch(err){console.log("** ==>Error get_server_status: "+err);}}


// Upgrade function
function upgrade(){

$(".report_class").hide()
$(".new_execution_class").hide()
$(".upgrade_class").show()
$("#select_upgrade").modal({backdrop: "static"})
$("#upgrade").attr('class', 'btn btn-outline-primary active');
$("#new_execution").attr('class', 'btn btn-outline-primary');
$("#history").attr('class', 'btn btn-outline-primary');
$(".upgrade_class").show()


}





// Get update execution from server
function get_execution_status(){


update_execution(dataSet);

}


function equalArray(a, b) {
    try{
    //console.log(a)
    //console.log(b)
    return JSON.stringify(a) == JSON.stringify(b);
  }catch(e){console.log(e);}
}


//Update the execution table
function update_execution(device_data){


 if(jQuery.isEmptyObject(device_data) == false){

  var ex_table = $('#execution_table').dataTable();
  
  old_update = equalArray(ex_table.fnGetData(),device_data);
  if(old_update != true) {
    console.log("New execution update from server....")
    ex_table.fnClearTable();
    ex_table.dataTable().fnAddData(device_data);

  }else
  {
    // No new update from server
    console.log("No new execution update from server")

  }
  
}
}


// Action on selected execution table
function action_select(){

var ex_table = $('#execution_table').dataTable();
selected_data = ex_table.rows('.selected').data();
//console.log(selected_data);

}




function execute_list(odd_even,t_data){
  sno = t_data[0];
  h_type = t_data[1];
  host_name = t_data[2];
  host_ip = t_data[3];
  version = t_data[4];
  status = t_data[5];

  host = host_name +" "+ host_ip

  make_table = (odd_even,t_data) =>
    `
    <tr role="row" class="${odd_even}">
    <td class="sorting_1 dtr-control" id="sno_${sno}">${sno}</td>
    <td id="dtype_${sno}"${h_type}</td>
    <td id="host_${sno}">${host}</td>
    <td id="version_${sno}">${version}</td>
    <td id="status_${sno}">${status}</td>
    <td id="act_${sno}">
    <button class="badge badge-secondary" onclick="exe_action('${sno}')" id="action_${sno}">
    <i class="fas fa-pause"></i>
    </button>
    </td>
    </tr>
    `
  return make_table(odd_even,t_data)
}


//////////////// PAGE -1 END /////////////////////////////////////////////////

//////////////// PAGE -2 START ////////////////////////////////////////////// 


function new_device_list(id_name,t_data){

console.log("Received:"+id_name)
  make_device_table = (id_name,t_data) =>
    `

<tr role="row" id="${id_name}_new_device">
<<td ></td>
<td ><select class="form-control input-sm" id="${id_name}_device" data-live-search="true"><option>MM</option><option>MD</option><option>Select Device</option></select></td>

<td><input type="text" class="form-control input-sm" placeholder="Host name" name="host_name" required="" id="${id_name}_hostname"></td>

<td><input type="text" class="form-control input-sm" placeholder="Host IP" name="host_ip" required="" id="${id_name}_hostip"></td>
<td><button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit" onclick="host_settings(${id_name})"><i class="fa fa-edit"></i></button></td>
<td><ul class="list-inline m-0">
<li class="list-inline-item">
</li>
<li class="list-inline-item">
<button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete" onclick="delete_device('${id_name}_new_device')"><i class="fa fa-trash"></i></button>
</li>
<button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add" onclick="add_new_device('${id_name}_new_device')"><i class="fa fa-plus"></i></button>

</ul></td>

</tr>`

  return make_device_table(id_name,t_data)
}


// Creating new execution 
function new_execution(){

// Reset the page 2 form

console.log("Page-2 init....");
dev_id = 0;
$(".upgrade_class").hide();
$(".report_class").hide();
$(".new_execution_class").show();

$("#upgrade").attr('class', 'btn btn-outline-primary');
$("#new_execution").attr('class', 'btn btn-outline-primary active');
$("#history").attr('class', 'btn btn-outline-primary');


// Add one new device 
add_new_device(1);

}


function delete_device(delete_id){
console.log("Deleting:"+delete_id);
$("#"+delete_id).remove()

}


function add_new_device(caller_id){

console.log("Adding new device...");

dev_id = dev_id + 1;


new_dev = new_device_list(dev_id,"");
//console.log(new_dev);
val = caller_id-1

console.log("Adding:"+dev_id+"-After -->"+val);

if(caller_id == 1){

$('#p2_new_host_row').eq(caller_id-1).after(new_dev);

}

else{

$(new_dev).insertAfter("#"+caller_id);

}

console.log("Done...");


}


// Upload host to Excell

function host_excell_upload(){

console.log("showing excell form...")
$("#p2_excell_upload").modal({backdrop: "static"})

}


// Custome setting show

function custome_settings(){

$("#p2_custome_setting").modal({backdrop: "static"})

}


// Custome setting show

function host_settings(host_list_id){

$("#p2_host_setting").modal({backdrop: "static"})

}

//////////////// PAGE -2 END ////////////////////////////////////////////// 



//////////////// PAGE -3 START ////////////////////////////////////////////

// Displaing execution history
function show_history(){

console.log("Page-3 init....");
$(".upgrade_class").hide();
$(".new_execution_class").hide();
$(".report_class").show();

$("#upgrade").attr('class', 'btn btn-outline-primary');
$("#new_execution").attr('class', 'btn btn-outline-primary');
$("#history").attr('class', 'btn btn-outline-primary active');

}

event_data = [["SSSSSS"]]

$(document).ready(function() {
    $('#history_table').DataTable( {
        data: event_data,
        columns: [
            { title: "Events" }
        ],
        "scrollY":        "400px",
        "scrollCollapse": true,
        "paging":         false,
        "order": [[ 0, "desc" ]]
      
      });

} );


//////////////// PAGE -3 END ////////////////////////////////////////////

setInterval(get_server_status,3000)
setInterval(get_execution_status,3000)
</script>



</body>
</html>

