<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{Configuration_file}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" crossorigin="anonymous">
  
  


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>


</head>

<body>

<nav class="navbar navbar-expand-md navbar-light bg-light border-dark">
    <a href="#" class="navbar-brand">
        <img src="/static/title.png" height="28" alt="CoolBrand" class="navbar_split_line">
    </a>
    
    <h6 class="navbar_split_line_"></h6>
    <h6 style="margin-top: 6px;"><span class="badge badge-light" style="margin-top: 8px;">Aruba Wireless Upgrade</span></h6>

    <div class="navbar-nav ml-auto">
    <h6 style="margin-top: 6px;"><span class="badge badge-info" style="margin-top: 8px;">{{Configuration_file}} -  {{report_type}}</span></h6>
</div>

    <div class="navbar-nav ml-auto">
    <h6 style="margin-top: 6px;"><span class="badge badge-light" style="margin-top: 8px;">Report Date: {{report_date}}</span></h6>
</div>

    <!--<h6 style="margin-top: 12px;"><span class="badge badge-info" id="total_clients">Total Clients : 5</span></h6>-->
    &nbsp;&nbsp;&nbsp;
</nav>
</br>




<div class="container">
  <h4><span class="badge badge-primary">{{report_type}} Report</span></h4>
  
   <div class="d-flex justify-content-between bg-light mb-3">
    <div class="p-2 bg-light">
    	<h5><span class="badge badge-info">Total devices: {{total_devices}}</span></h5>
    </div>
    <div class="p-2 bg-light">
    	<h5><span class="badge badge-warning">Mobility Master's: {{total_mm}}</span></h5>
    </div>
    <div class="p-2 bg-light">
    	<h5><span class="badge badge-warning">Mobility Controller's: {{total_md}}</span></h5>
    </div>
  </div>

  <div class="d-flex justify-content-between bg-light mb-3">
    <div class="p-2 bg-light">
    	<h6><span class="badge badge-light">Status:{{status}}</span></h6>
    </div>
    <div class="p-2 bg-light">
      <h6><span class="badge badge-info">Elasped time:{{elapsed_time}}</span></h6>
      <h6><span class="badge badge-info">Started:{{start_time}}</span></h6>
      <h6><span class="badge badge-info">Completed:{{end_time}}</span></h6>
    </div>
    
  </div>


<table id="upgrade_table" class="display" width="100%"></table>
<table id="precheck_table" class="display" width="100%"></table>
<table id="postcheck_table" class="display" width="100%"></table>



</div>



<script>
// Precheck datasource








